:root {
  --main-color: #ff0000;
  --accent-color: #000000;
  --bg: #ffffff;
  --table-color: #ffffff;
  --card-red: #e74c3c;
  --card-black: #333;
  --card-background: #fbc0c0;
  --shadow: rgb(66, 53, 53);
}

h1 {
  color: var(--main-color);
  text-align: center;
  margin: 50px;
  font-family: "ROBOTO", sans-serif;
  /* font-size: 5vw; */
  /* padding-bottom: 0.5rem; */
  letter-spacing: 0.5rem;
  transition: all 0.3s ease;
  /* z-index: 3; */
  user-select: none;
  text-shadow: 2px 2px 2cap var(--shadow);
}
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: var(--accent-color);
  transition: all 0.8s ease;
}

h2 {
  color: var(--accent-color);
  user-select: none;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  font-family: "ROBOTO", sans-serif;
}

p, span {
  user-select: none;
}

nav {
  background-color: var(--main-color);
  background-color: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: backgroud-color 0.3s;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

nav a {
  float: center;
  margin-left: 5px;
  /* margin-right: 5px; */
  display: block;
  color: black;
  border-radius: 15px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  user-select: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: var(--accent-color);
  color: white;
  animation: bounce 0.5s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

#frame {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  perspective: 800px;
  transform-style: preserve-3d;
  overflow: hidden;
}
#frame > p {
  /* font-family: "Source Sans Pro", sans-serif; */
  /* font-size: 0.95em; */
  position: absolute;
  top: 7.5%;
  width: 100%;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  text-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
  z-index: 9999;
}

#table {
  position: relative;
  width: 90%;
  height: 90%;
  perspective: 1200px;
  transform: rotateY(-15deg) rotateX(40deg);
  background: var(--table-color);
  box-shadow: 0 0 100px 100px var(--table-color);
}
#table .card {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  background: var(--card-background);
  box-shadow: 1px 1px 5px 1px rgba(150, 150, 150, 0.15);
}
#table .card__symbol {
  font-size: 60px;
  color: var(--card-black);
  user-select: none;
}
#table .card__symbol--red {
  color: var(--card-red);
}
#table .card--sample {
  top: 40%;
  left: 45%;
  transform: rotate(45deg);
}

.content {
  text-align: center;
  margin: 50px;
}

/* #myCanvas {
  z-index: 1;
  position: absolute;
} */

.team-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.team-member {
  /* width: 300px; */
  /* height: 400px; */
  /* margin: 20px; */
  /* text-align: center; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 15px;
  /* background-color: #fff; */
  position: relative;
  /* overflow: hidden; */
}

.team-member img {
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  /* margin: 0 auto 10px; */
  display: block;
}

.team-member p {
  color: #666;
}

.hearts { background-color: #ff5050; }
.diamonds { background-color: #ffcc00; }
.clubs { background-color: #4da6ff; }
.spades { background-color: #00cc66; }

.suit {
  position: relative;
  /* top: 10px;
  right: 10px; */
  font-size: 44px;
  /* color: white; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.events-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event {
  width: 300px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.event img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.event h2 {
  margin-bottom: 5px;
  color: #333;
}

.event p {
  color: #666;
}

.careers-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.job-position {
  width: 300px;
  margin: 20px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.job-position h2 {
  margin-bottom: 10px;
  color: #333;
}

.job-position p {
  color: #666;
}

.job-position ul {
  margin-top: 10px;
  padding-left: 20px;
  color: #666;
}

.job-position li {
  list-style-type: disc;
}

.projects-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 300px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.project img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project h2 {
  margin-bottom: 10px;
  color: #333;
}

.project p {
  color: #666;
}
